<div class="lobster"style="text-align:center">
  <br/>
  <h1>
    <span style="color: #585858">Bienvenido a </span>Unal<span style="color:#006dcc">Do</span>!
  </h1>
</div>
<div style="text-align:center">
  <br>
  <h3 text-align="center">
    <span class="lobster" style="font-size:33px">Unal<span style="color:#006dcc">Do</span></span>
    <span style="font-family:Comic Sans MS">
      es una aplicacion que te permitira organizar equipos
      <br/> 
      de trabajo y tareas para la realizacion de tus proyectos 
    </span>
  </h3>
  <br>
  <img class="image"height="300px" src="../../../assets/taskboard.png">
</div>
