<!--The content below is only a placeholder and can be replaced.-->
<div class="col center header sticky">
  <div class="row">
    <div class="col lobster">
      <a href="/home" style="text-decoration: none;">
        <h1 style="color: black">Unal <span style="color: #006dcc;">Do</span></h1>
      </a>
    </div>
    <div class="col lobster" *ngIf="!loginService.isLogged()">
      <button class="btn float-right sessionBtn" data-toggle="modal" data-target=".bd-login-modal-lg">Ingresar</button>
      <button class="btn btn-primary float-right sessionBtn" data-toggle="modal" data-target=".bd-singup-modal-lg" >Registrarse</button>
    </div>
    <div class="col lobster" *ngIf="loginService.isLogged()">
      <div class="row" style="position:absolute;right:50px">
        <h2 style="margin-top:10px">Bryam Diaz</h2>
        <button class="btn float-right sessionBtn" (click)="loginService.cerrarSesion()">Cerrar Sesión</button>
      </div>
    </div>
  </div>
</div>
<app-login></app-login>
<app-singup></app-singup>
<div style="margin-top: 76px">
  <router-outlet ></router-outlet>
</div>

