<!--The content below is only a placeholder and can be replaced.-->
<div class="col center header">
  <div class="row">
    <div class="col lobster">
      <h1>Unal <span>Do</span></h1>
    </div>
    <div class="col lobster" *ngIf="!loginService.isLogged()">
      <button class="btn float-right sessionBtn" data-toggle="modal" data-target=".bd-login-modal-lg">Ingresar</button>
      <button class="btn btn-primary float-right sessionBtn" data-toggle="modal" data-target=".bd-singup-modal-lg" >Registrarse</button>
    </div>
    <div class="col lobster" *ngIf="loginService.isLogged()">
      <div class="row" style="position:absolute;right:50px">
        <h2 style="margin-top:10px">Bryam Diaz</h2>
        <button class="btn float-right sessionBtn" (click)="loginService.cerrarSesion()">Cerrar Sesión</button>
      </div>
    </div>

    <!--<div className = "col-push"id="buttoncol">
        <a href="/UserMenu"><img src={home_icon} className="home-logo" alt="logo" /> </a>
        <a href="/"><img src={logout_icon} className="home-logo" alt="logo" onClick={()=>this.logout()}/> </a>
    </div>-->
  </div>
</div>
<app-login></app-login>
<app-singup></app-singup>

<router-outlet></router-outlet>
<!--<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>-->

